/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/mix-manifest.json
/public/css/app.css
/public/css/app.css.map
/public/js/app.js
/public/js/app.js.map
/public/js/app.js.LICENSE.txt